// @import url('https://fonts.googleapis.com/css?family=Amatic+SC|Homemade+Apple|Princess+Sofia');

// CSS Rules
// font-family: 'Amatic SC', cursive;
// font-family: 'Homemade Apple', cursive;
// font-family: 'Princess Sofia', cursive;

$circle-wrapper-size: 100px;
$half-circle-wrapper-size: calc(#{$circle-wrapper-size} / 2);
$icon-higher-position-about-us: 122vh;
$icon-lower-position-about-us: 150vh;
$icon-higher-position-festivities: 322vh;
$icon-lower-position-festivities: 350vh;
$icon-higher-position-travel: 522vh;
$icon-lower-position-travel: 550vh;
$lightbox-color: rgba(255, 255, 255, 0.6);

@font-face {
  font-family: 'Mf I Love Glitter';
  src: URL('fonts/mf-i-love-glitter.ttf') format ('ttf');
}

@font-face {
  font-family: 'DK Mango Smoothie';
  src: URL('fonts/dk-mango-smoothie.otf') format ('otf');
}

body {
  padding: 0px;

  background: #404246;
}

// LOADING
/* Paste this css to your style sheet file or under head tag */
/* This only works with JavaScript,
if it's not present, don't show loader */
// .no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/images/Preloader_5.gif') center no-repeat #fff;
}

// Code from StackOverflow - START
// http://stackoverflow.com/questions/8449272/how-can-i-make-a-menubar-fixed-on-the-top-while-scrolling
// Double-check it: remove floats, use classes instead of HTML elements, maybe different alignment
.sections-menu {
  width: 100%;
  height: 45px;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  z-index: 99999;
  justify-content: center;
  align-items: center;

  // background: #606264;
  // opacity: 0.4;
  background: rgba(96,98,100,0.4);
}

.logo {
  width: 30px;
  height: 30px;
  // float:left;
}

.menu-logo {
  transform: rotate(37deg);
  opacity: 0.6;
}
.icon {
  width: 75px;
  height: 75px;
  display: block;
  margin: auto;
  height: 100%;
}

.nav-menu {

}

.nav-menu__option {
//  float:right;
  margin-right:10px;
  width: calc(100vw - 52px - 10px); //52px: .logo width; 10px: .nav margin-right
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.nav-menu li {
  list-style-type: none;
}

.section-link {
  list-style: none;
  float: left;
}
// Code from StackOverflow - END

.section-link {
  padding: 0 10px;

  text-decoration: none;
  // font-family: 'Mf I Love Glitter';
  // font-family: 'DK Mango Smoothie';
  font-family: 'Amatic SC', cursive;
  color: #D8D8D8;
  font-size: 25px;
}

.section-link:hover {
  text-decoration: none;
  color: white;
}

.section-link.active-link {
  color: #fff;
  background: rgba(0,0,0,0.4);
  border-radius: 25px;
  padding: 0;
  // opacity: 0.5;
}

.site-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.title-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  position: relative;

  background: url("../images/H&D-0001.jpg");//#404244;
  background-size: cover;
  background-attachment: fixed;
}

.main-title {
  margin-top: 2%;
  max-width: 800px;
  position: fixed;
  z-index: 0;
}

.title {
  // font-family: 'Mf I Love Glitter', 'DK Mango Smoothie'; //Oldtown, fantasy;
  // font-family: 'Homemade Apple', cursive:
  font-family: 'Princess Sofia', cursive;
  font-size: 100px;
  color: white;
  padding-top: 45px;
}

.subtitle {
  padding-top: 45px;

  // font-family: 'Mf I Love Glitter'; //Oldtown, fantasy;
  // font-family: 'Homemade Apple', cursive;
  font-family: 'Princess Sofia', cursive;
  font-size: 40px;
  color: white;
}

.about-us-wrapper {
  padding: 0 5vw;

  background: url("../images/H&D-0064.jpg");//#404244;
  background-size: cover;
  // z-index: 2;
}

.about-us {
  font-family: Oldtown, fantasy;
  font-size: 18px;
  color: red;
}

.about-us__options {
  // display: flex;
  // flex-grow: 1;
  width: 90vw;
  height: 6vh;
  // position: absolute;
  // top: 50vh;
  // align-items: center;
  // justify-content: center;
}

.about-us__options__meet {
  position: absolute;
  top: 150vh;
  left: calc(25vw - #{$half-circle-wrapper-size});
  // margin-left: 20px;
}

.about-us__options__love {
  position: absolute;
  top: 150vh;
  left: calc(50vw - #{$half-circle-wrapper-size});
}

.about-us__options__porposal {
  position: absolute;
  top: 150vh;
  right: calc(25vw - #{$half-circle-wrapper-size});
  // margin-right: 10px;
}

.icon-love {
  padding-right: 5px;
}

.icon-map {
  height: 94px;
  width: 60px;
}

.about-us__icon {
  width: #{$circle-wrapper-size};
  height: #{$circle-wrapper-size};

  border: 2px solid #fff;
  border-radius: #{$half-circle-wrapper-size};

  display: flex;
  justify-content: center;
  align-items: center;
}

.festivities-wrapper {
  background: url("../images/castle.jpg");
  background-size: cover;
  background-attachment: fixed;
  padding: 0 5vw;
}

.festivities__options {
  width: 90vw;
  height: 6vh;
}

.festivities__options__ireland {
  position: absolute;
  top: 350vh;
  left: calc(25vw - #{$half-circle-wrapper-size});
}

.festivities__options__ceremony {
  position: absolute;
  top: 350vh;
  left: calc(50vw - #{$half-circle-wrapper-size});
}

.festivities__options__there {
  position: absolute;
  top: 350vh;
  right: calc(25vw - #{$half-circle-wrapper-size});
}

.festivities__icon {
  width: #{$circle-wrapper-size};
  height: #{$circle-wrapper-size};

  border: 2px solid #fff;
  border-radius: #{$half-circle-wrapper-size};

  // position: fixed;
  // top: 50vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.festivities__title {
  // position: fixed;
  top: 0vh;
}

.quote-wrapper {
  background: url("../images/campa-torres.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.quote {
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding: 13%;
}

.quote-text {
  color: white;
  font-family: 'Amatic SC', italic;

}

.quote-quote {
  font-size: 50px;
  text-align: center;
}

.quote-author {
  font-size: 25px;
  padding-right: 3%;
  width: initial;
}

.travel-wrapper {
  padding: 0 5vw;

  background: url("../images/H&D-0157.jpg");
  // background: url("../images/galway.jpg");
  background-size: cover;
}

.travel__icon {
  width: #{$circle-wrapper-size};
  height: #{$circle-wrapper-size};

  border: 2px solid #fff;
  border-radius: #{$half-circle-wrapper-size};

  display: flex;
  justify-content: center;
  align-items: center;
}

.travel__title {
  top: 0vh;
}

.travel__options {
  width: 90vw;
  height: 6vh;
}

.travel__options__eat {
  position: absolute;
  top: 550vh;
  left: calc(25vw - #{$half-circle-wrapper-size});
}

.travel__options__see {
  position: absolute;
  top: 550vh;
  left: calc(50vw - #{$half-circle-wrapper-size});
}

.travel__options__sleep {
  position: absolute;
  top: 550vh;
  right: calc(25vw - #{$half-circle-wrapper-size});
}

.icon-see {
  padding-left: 5px;
}

.icon-sleep {
  padding: 4px 4px 6px;
}

.coming-soon {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


.picture {
  display: none;
}

.active {
  width: 100vw;
  height: 100vh;

  display: block;
}

// .active:before {
//   content: "<";
//   color: red;
//   font-size: 30px;
//   padding: 100px;
// }
//
// .active:after {
//   content:">";
//   color: red;
//   font-size: 30px;
// }

.pic-nav {
  position: absolute;
  top: 50%;
  opacity: 0.75;
}

.nav-left {
  left: 25px;
  right: auto;
}

.nav-right {
  left: auto;
  right: 25px;
}

.arrow {
  height: 100px;
  width: 85px;
}

.arrow:hover {
  opacity: 0.5;
}

// CSS for the ligthboxes -----

/* General CSS Setup */
// body{
//   background-color: lightblue;
//   font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
// }

// /* container */
// .container {
//   padding: 5% 5%;
// }

/* CSS talk bubble */
.lightbox {
  display: none;
  position: relative;
  top: 9vh;
  // margin-top: 15px;
  // width: calc(100vw - #{$circle-wrapper-size});
  width: 100%;
	// height: 50vh;
  min-height: 20vh;
  max-height: 50vh;
  height: 100%;
	background-color: #{$lightbox-color};
  opacity: 0.6;
}

.lightbox__scroll {
  width: 100%;
  height: 100%;
}

.lightbox__text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-align: center;
  padding: 0 40px 20px;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.lightbox__text p:first-child {
  font-size: 50px;
  // font-family: 'DK Mango Smoothie';
  font-family: 'Amatic SC', cursive;
  padding-top: 30px;
}

.border{
  border: 8px solid #666;
}

.lightbox--is-round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.lightbox--is-meet {
  // visibility: hidden;
  display: inline-block;;
}

.lightbox--is-meet::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
  left: 20px;
	right: auto;
	bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox--is-love {
  // visibility: hidden;
  display: inline-block;;
}

.lightbox--is-love::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
  left: calc(50% - calc(22px / 2));
  bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox--is-porposal {
  // visibility: hidden;
  display: inline-block;
}

.lightbox--is-porposal::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
	right: 20px;
	bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox__about-us--is-visible {
  // visibility: visible;
  display: block;
}

.lightbox__festivities--is-visible {
  // visibility: visible;
  display: block;
}

.lightbox__meet {

}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

// OUR STORY ANIMATIONS -------
.about-us__icon--is-animation {
    // position: relative;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.about-us__icon--is-animationZZZZ {
    // position: relative;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.about-us__icon--is-animation-up {
  -webkit-animation-name: animation_up_au; /* Chrome, Safari, Opera */
  animation-name: animation_up_au;

  animation-fill-mode: forwards;
}

.about-us__icon--is-animation-left {
  -webkit-animation-name: animation_left_au; /* Chrome, Safari, Opera */
  animation-name: animation_left_au;

  animation-fill-mode: forwards;
}

.about-us__icon--is-animation-right {
  -webkit-animation-name: animation_right_au; /* Chrome, Safari, Opera */
  animation-name: animation_right_au;

  // -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  // animation-duration: 1s;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_up_au {
  0%   {
    top: #{$icon-lower-position-about-us};
  }
  100% {
    top: #{$icon-higher-position-about-us};
  }
}

/* Standard syntax */
@keyframes animation_left_au {
  0%   {
    left: calc(25vw - #{$half-circle-wrapper-size});
    top: #{$icon-lower-position-about-us};
  }
  100% {
    left: calc(10vw - #{$half-circle-wrapper-size});
    top: #{$icon-higher-position-about-us};
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_right_au {
  0%   {
    right: calc(25vw - #{$half-circle-wrapper-size});
    top: #{$icon-lower-position-about-us};
  }
  100% {
    right: calc(10vw - #{$half-circle-wrapper-size});
    top: #{$icon-higher-position-about-us};
  }
}

// FESTIVITIES ANIMATIONS -------
.lightbox--is-ireland {
  // visibility: hidden;
  display: inline-block;;
}

.lightbox--is-ireland::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
  left: 20px;
	right: auto;
	bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox--is-ceremony {
  // visibility: hidden;
  display: inline-block;;
}

.lightbox--is-ceremony::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
  left: calc(50% - calc(22px / 2));
  bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox--is-there {
  // visibility: hidden;
  display: inline-block;
}

.lightbox--is-there::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
	right: 20px;
	bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}


.festivities__icon--is-animation {
    // position: relative;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.festivities__icon--is-animationZZZZ {
    // position: relative;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.festivities__icon--is-animation-up {
  -webkit-animation-name: animation_up_f; /* Chrome, Safari, Opera */
  animation-name: animation_up_f;

  animation-fill-mode: forwards;
}

.festivities__icon--is-animation-left {
  -webkit-animation-name: animation_left_f; /* Chrome, Safari, Opera */
  animation-name: animation_left_f;

  animation-fill-mode: forwards;
}

.festivities__icon--is-animation-right {
  -webkit-animation-name: animation_right_f; /* Chrome, Safari, Opera */
  animation-name: animation_right_f;

  // -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  // animation-duration: 1s;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_up_f {
  0%   {
    top: #{$icon-lower-position-festivities};
  }
  100% {
    top: #{$icon-higher-position-festivities};
  }
}

/* Standard syntax */
@keyframes animation_left_f {
  0%   {
    left: calc(25vw - #{$half-circle-wrapper-size});
    top: #{$icon-lower-position-festivities};
  }
  100% {
    left: calc(10vw - #{$half-circle-wrapper-size});
    top: #{$icon-higher-position-festivities};
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_right_f {
  0%   {
    right: calc(25vw - #{$half-circle-wrapper-size});
    top: #{$icon-lower-position-festivities};
  }
  100% {
    right: calc(10vw - #{$half-circle-wrapper-size});
    top: #{$icon-higher-position-festivities};
  }
}

// TRAVEL
// TRAVEL ANIMATIONS -------
.lightbox--is-eat {
  // visibility: hidden;
  display: inline-block;;
}

.lightbox--is-eat::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
  left: 20px;
	right: auto;
	bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox--is-see {
  // visibility: hidden;
  display: inline-block;;
}

.lightbox--is-see::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
  left: calc(50% - calc(22px / 2));
  bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox--is-sleep {
  // visibility: hidden;
  display: inline-block;
}

.lightbox--is-sleep::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -44px;
	right: 20px;
	bottom: auto;
	border: 22px solid;
	border-color: transparent transparent #{$lightbox-color} transparent;
  z-index: -1;
  // visibility: hidden;
}

.lightbox__board {
  padding: 0 10px 10px;
  height: 97%;
  overflow: hidden;
}

.lightbox__board__section {
  width: 100%;
  height: 30vh;

  // background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox__board__section:first-of-type {
  // margin-top: 5%;
  margin-top: 1%;
}

.travel__icon--is-animation {
    // position: relative;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.travel__icon--is-animationZZZZ {
    // position: relative;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.travel__icon--is-animation-up {
  -webkit-animation-name: animation_up_travel; /* Chrome, Safari, Opera */
  animation-name: animation_up_travel;

  animation-fill-mode: forwards;
}

.travel__icon--is-animation-left {
  -webkit-animation-name: animation_left_travel; /* Chrome, Safari, Opera */
  animation-name: animation_left_travel;

  animation-fill-mode: forwards;
}

.travel__icon--is-animation-right {
  -webkit-animation-name: animation_right_travel; /* Chrome, Safari, Opera */
  animation-name: animation_right_travel;

  // -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
  // animation-duration: 1s;
  // animation-timing-function: ease-out;
  // animation-fill-mode: forwards;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_up_travel {
  0%   {
    top: #{$icon-lower-position-travel};
  }
  100% {
    top: #{$icon-higher-position-travel};
  }
}

/* Standard syntax */
@keyframes animation_left_travel {
  0%   {
    left: calc(25vw - #{$half-circle-wrapper-size});
    top: #{$icon-lower-position-travel};
  }
  100% {
    left: calc(10vw - #{$half-circle-wrapper-size});
    top: #{$icon-higher-position-travel};
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_right_travel {
  0%   {
    right: calc(25vw - #{$half-circle-wrapper-size});
    top: #{$icon-lower-position-travel};
  }
  100% {
    right: calc(10vw - #{$half-circle-wrapper-size});
    top: #{$icon-higher-position-travel};
  }
}




// SUPERSLIDES PAGINATOR css.
//  It was not being recognised in the published version
.slides-navigation {
  margin: 0 auto;
  position: absolute;
  z-index: 3;
  top: 46%;
  width: 100%;
}
.slides-navigation a {
  position: absolute;
  display: block;
}
.slides-navigation a.prev {
  left: 1.5vw;
  background-image: url("../images/arrow_left_white.png");
  background-size: cover;
  width: 100px;
  height: 100px;
}
.slides-navigation a.next {
  background-image: url("../images/arrow_right_white.png");
  background-size: cover;
  right: 1.5vw;
  width: 100px;
  height: 100px;
}

.slides-pagination {
  position: absolute;
  z-index: 3;
  bottom: 3vh;
  text-align: center;
  width: 100%;
}
.slides-pagination a {
  border: 2px solid #fff;
  border-radius: 15px;
  width: 10px;
  height: 10px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=");
  margin: 2px;
  overflow: hidden;
  text-indent: -100%;
}
.slides-pagination a.current {
  background: #fff;
}

// RESPONSIVE TOP NAVIGATION
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
// @media screen and (max-width:680px) {
//   ul.nav-menu li:not(:first-child) {display: none;}
//   ul.nav-menu li.icon {
//     float: right;
//     display: inline-block;
//   }
// }
//
// /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
// @media screen and (max-width:680px) {
//   ul.nav-menu.responsive {position: relative;}
//   ul.nav-menu.responsive li.icon {
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
//   ul.nav-menu.responsive li {
//     float: none;
//     display: inline;
//   }
//   ul.nav-menu.responsive li a {
//     display: block;
//     text-align: left;
//   }
// }


  /* Remove margins and padding from the list, and add a black background color */
//   ul.topnav {
//       list-style-type: none;
//       margin: 0;
//       padding: 0;
//       overflow: hidden;
//       background-color: #333;
//   }
//
//   /* Float the list items side by side */
//   ul.topnav li {float: left;}
//
//   /* Style the links inside the list items */
//   ul.topnav li a {
//       display: inline-block;
//       color: #f2f2f2;
//       text-align: center;
//       padding: 14px 16px;
//       text-decoration: none;
//       transition: 0.3s;
//       font-size: 17px;
//   }
//
//   /* Change background color of links on hover */
//   ul.topnav li a:hover {background-color: #555;}
//
//   /* Hide the list item that contains the link that should open and close the topnav on small screens */
//   ul.topnav li.icon {display: none;}
//
//   /* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
// @media screen and (max-width:680px) {
//   ul.topnav li:not(:first-child) {display: none;}
//   ul.topnav li.icon {
//     float: right;
//     display: inline-block;
//   }
// }
//
// /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
// @media screen and (max-width:680px) {
//   ul.topnav.responsive {position: relative;}
//   ul.topnav.responsive li.icon {
//     position: absolute;
//     right: 0;
//     top: 0;
//   }
//   ul.topnav.responsive li {
//     float: none;
//     display: inline;
//   }
//   ul.topnav.responsive li a {
//     display: block;
//     text-align: left;
//   }
// }


// Menu Colours
$icon-higher-position-about-us-mobile: 112vh;
$icon-higher-position-festivities-mobile: 312vh;
$icon-higher-position-travel-mobile: 512vh;
$circle-wrapper-size-mobile: 55px;
$half-circle-wrapper-size-mobile: calc(#{$circle-wrapper-size-mobile} / 2);
$menu-bg: #333;
$menu-border: #555;
$menu-hover: #444;
$text-color: #eee;
//
// body {
//   font-family: 'PT Sans Narrow', sans-serif;
//   background-color: $text-color;
//   background-image: url('http://i.cubeupload.com/NjsJx8.png');
//   margin: 0;
// }

// h1 {
// 	font-size: 4em;
// 	font-family: 'PT Sans Narrow', sans-serif;
// 	line-height: 1.1;
//   text-align: center;
//   padding: 10px;
// }
//
// p {
//   font-size: 1.2em;
//   text-align: center;
//   padding: 10px;
// }

.nav-menu {
  //top: 0; // Fix the menu to the top
  //position: fixed; // Fix the menu to the top
  height: 40px;
	width: 100%;
  // background-color: $menu-bg;
  color: $text-color;

  ul {
    padding: 0;
	  margin: 0;
  }

  li {
    display: inline;
    float: left;
  }

  a {
  	display: inline-block;
	  width: 100px;
	  text-align: center;
	  text-decoration: none;
	  padding: 10px 0;
    color: $text-color;
    text-decoration:none;
  }

  li:hover {
    // background-color: $menu-hover;
  }

  a#openup {
	  display: none;
  }
} //nav

dialog {
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  padding: 0;
  top: 610vh;
}

.iframe-form {
  padding: 0;
  display: block;
  border-radius: 6px;
  height: 80vh;
}

.dialog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.dialog__button {
  border: 0;
  background-color: transparent;
  color: rgba(0,0,0,0.6);
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.dialog__button:hover {
  color: rgba(0,0,0,1);
  transform: scale(1.2);
}

.dialog__button:focus {
  outline: 0;
}

.rsvp-wrapper {
  background: url("../images/ireland-old-map.jpg");
  background-size: cover;
}

.rsvp-button-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rsvp {
  height: 150px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  z-index: 222;
}
.rsvp:hover {
  text-decoration: none;
  transform: scale(1.1);
}


@media screen and (max-width: 680px) {
  // h1 {
	//   font-size: 2.8em;
  // }

  .title-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .main-title {
    margin-top: 2%;
    max-width: 90vw;
    position: fixed;
    // z-index: 0;
  }

  .title {
    display: none;
  }

  .title-coming-soon {
    display: block;
  }

  .icon {
    width: 40px;
    height: 40px;
    display: block;
    margin: auto;
    // height: 100%;
  }

  .icon-map {
    width: 37px;
  }

  .about-us-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .about-us__icon {
    width: #{$circle-wrapper-size-mobile};
    height: #{$circle-wrapper-size-mobile};
    //
    // display: flex;
    // justify-content: center;
    // align-items: center;
  }

  .about-us__options {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .about-us__options__meet {
    left: calc(25vw - #{$half-circle-wrapper-size-mobile});
  }

  .about-us__options__love {
    left: calc(50vw - #{$half-circle-wrapper-size-mobile});
  }

  .about-us__options__porposal {
    right: calc(25vw - #{$half-circle-wrapper-size-mobile});
  }

  .lightbox {
    top: 20vh;
    max-height: 70%;
  }

  .lightbox__text {
    font-size: 15px;
    padding: 0 10px 10px;
  }

  .lightbox__text p:first-child {
    font-size: 30px;
    // font-family: 'DK Mango Smoothie';
    font-family: 'Amatic SC', cursive;
    padding-top: 30px;
  }

  .lightbox__board {
    padding: 10px 10px 10px;
  }

  .lightbox--is-meet::before {
    left: 10px;
  }
  //
  // .lightbox--is-love::before {
  //   left: calc(50% - calc(22px / 2));
  // }

  .lightbox--is-porposal::before {
  	right: 10px;
  }

  .lightbox--is-ireland {
    // visibility: hidden;
    display: inline-block;;
  }

  .lightbox--is-ireland::before {
    left: 10px;
  }

  // .lightbox--is-ceremony::before {
  //   left: calc(50% - calc(22px / 2));
  // }

  .lightbox--is-there::before {
  	right: 10px;
  }


  .lightbox--is-eat::before {
    left: 10px;
  }

  // .lightbox--is-see::before {
  //   left: calc(50% - calc(22px / 2));
  // }

  .lightbox--is-sleep::before {
  	right: 10px;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes animation_up_au {
    0%   {
      top: #{$icon-lower-position-about-us};
    }
    100% {
      top: #{$icon-higher-position-about-us-mobile};
    }
  }

  @keyframes animation_left_au {
    0%   {
      left: calc(25vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-lower-position-about-us};
    }
    100% {
      left: calc(12vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-higher-position-about-us-mobile};
    }
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes animation_right_au {
    0%   {
      right: calc(25vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-lower-position-about-us};
    }
    100% {
      right: calc(12vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-higher-position-about-us-mobile};
    }
  }

  .festivities-wrapper {
    z-index: 5;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes animation_up_f {
    0%   {
      top: #{$icon-lower-position-festivities};
    }
    100% {
      top: #{$icon-higher-position-festivities-mobile};
    }
  }

  @keyframes animation_left_f {
    0%   {
      left: calc(25vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-lower-position-festivities};
    }
    100% {
      left: calc(12vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-higher-position-festivities-mobile};
    }
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes animation_right_f {
    0%   {
      right: calc(25vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-lower-position-festivities};
    }
    100% {
      right: calc(12vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-higher-position-festivities-mobile};
    }
  }

  .quote-quote {
    font-size: 35px;
  }

  .travel-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes animation_up_travel {
    0%   {
      top: #{$icon-lower-position-travel};
    }
    100% {
      top: #{$icon-higher-position-travel-mobile};
    }
  }

  @keyframes animation_left_travel {
    0%   {
      left: calc(25vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-lower-position-travel};
    }
    100% {
      left: calc(12vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-higher-position-travel-mobile};
    }
  }

  /* Chrome, Safari, Opera */
  @-webkit-keyframes animation_right_travel {
    0%   {
      right: calc(25vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-lower-position-travel};
    }
    100% {
      right: calc(12vw - #{$half-circle-wrapper-size-mobile});
      top: #{$icon-higher-position-travel-mobile};
    }
  }


  .sections-menu {
    height: auto;
    flex-direction: column;
  }

  .section-link {
    // border-radius: 0;
  }

  .section-link.active-link {
    border-radius: 0px;
  }

  .nav-menu__option {
    width: 100%;
  }

  .nav-menu {
		height: auto;
		border-bottom: 0;

	  ul {
		  display: none;
		  height: auto;
	  }

	  li {
		  width: 100%;
		  float: left;
		  position: relative;

    }

    li:hover {
      // background-color: transparent;
    }

  	a {
	  	text-align: left;
	  	width: 100%;
	  	text-indent: 25px;
			// background: $menu-bg;
      // border-bottom: 1px solid $menu-border;
  	}

  	//  a:hover {
	  // 	background: rgba(68, 68, 68, 0.6);
  	// }

	  a#openup:after {
		  content:"|||";
      transform:rotate(-90deg);
      -ms-transform:rotate(-90deg); /* IE 9 */
      -webkit-transform:rotate(-90deg); /* Safari and Chrome */
		  width: 30px;
		  height: 30px;
		  display: inline-block;
		  position: absolute;
		  right: 3%;
		  top: 50%;
      color: #fff;
	  }

	  a#openup {
		  display: block;
		  // background-color: $menu-bg;
		  width: 100%;
		  position: relative;
      border-radius: 0;
	  }
  } //nav

  .menu-logo {
    display: none;
  }

  .slides-navigation a.prev {
    width: 50px;
    height: 50px;
  }
  .slides-navigation a.next {
    width: 50px;
    height: 50px;
  }

  .festivities__options {

  }

  .festivities__options__ireland {
    position: absolute;
    top: 350vh;
    left: calc(25vw - #{$half-circle-wrapper-size-mobile});
  }

  .festivities__options__ceremony {
    position: absolute;
    top: 350vh;
    left: calc(50vw - #{$half-circle-wrapper-size-mobile});
  }

  .festivities__options__there {
    position: absolute;
    top: 350vh;
    right: calc(25vw - #{$half-circle-wrapper-size-mobile});
  }

  .festivities__icon {
    width: #{$circle-wrapper-size-mobile};
    height: #{$circle-wrapper-size-mobile};
  }

  .lightbox__about-us--is-visible {
    // top: 22vh;
  }

  .travel-wrapper {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .travel__icon {
    width: #{$circle-wrapper-size-mobile};
    height: #{$circle-wrapper-size-mobile};
  }

  .travel__options {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .travel__options__eat {
    left: calc(25vw - #{$half-circle-wrapper-size-mobile});
  }

  .travel__options__see {
    left: calc(50vw - #{$half-circle-wrapper-size-mobile});
  }

  .travel__options__sleep {
    right: calc(25vw - #{$half-circle-wrapper-size-mobile});
  }

} // media

.cf:before, .cf:after { content:""; display:table; }
.cf:after { clear:both; }
.cf { zoom:1; } /* For IE 6/7 (trigger hasLayout) */


.nav-menu {

}


// <div class="freebirdFormviewerViewResponseConfirmationMessage">Your response has been recorded.</div>
