@font-face {
  font-family: 'Mf I Love Glitter';
  src: URL('fonts/mf-i-love-glitter.ttf') format ('ttf');
}

body {
  padding: 0px;

  background: #404246;
}

// Code from StackOverflow - START
// http://stackoverflow.com/questions/8449272/how-can-i-make-a-menubar-fixed-on-the-top-while-scrolling
// Double-check it: remove floats, use classes instead of HTML elements, maybe different alignment
.sections-menu {
  width:100%;
  height:50px;
  display:block;
  position:fixed;
  top:0;
  left:0;

  background: #606264;
  opacity: 0.4;
}

.logo {
  width: 52px;
  height: 52px;
  float:left;
}

.nav {
//  float:right;
  margin-right:10px;
  width: calc(100vw - 52px - 10px); //52px: .logo width; 10px: .nav margin-right
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.section-link {
  list-style:none;
  float:left;
}
// Code from StackOverflow - END

.section-link {
  padding: 0 10px;

  text-decoration: none;
  font-family: 'Mf I Love Glitter';
  color: #D8D8D8;
  font-size: 20px;
}

.section-link:hover {
  text-decoration: none;
  color: white;
}

.site-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.title-wrapper {
  align-items: center;
  display: flex;
  justify-content: center;
  padding-top: 20vh;
  position: relative;

  background: url("../images/H&D-0001.jpg");//#404244;
  background-size: cover;
  background-attachment: fixed;
}

.main-title {
  margin-top:  2%;
  max-width: 800px;
  position: fixed;
}

.title {
  font-family: 'Mf I Love Glitter'; //Oldtown, fantasy;
  font-size: 100px;
  color: white;
}

.subtitle {
  padding-top: 45px;

  font-family: 'Mf I Love Glitter'; //Oldtown, fantasy;
  font-size: 40px;
  color: white;
}

.about-us-wrapper {
  padding: 0 50px;

  background: url("../images/H&D-0063.jpg");//#404244;
  background-size: cover;
}

.about-us {
  font-family: Oldtown, fantasy;
  font-size: 18px;
  color: red;
}

.about-us__options {
  display: flex;
  flex-grow: 1;
  width: 90vw;
  align-items: center;
  justify-content: center;


}

.about-us__icon {
  width: 30vw;
}

.picture {
  display: none;
}

.active {
  width: 100vw;
  height: 100vh;

  display: block;
}

// .active:before {
//   content: "<";
//   color: red;
//   font-size: 30px;
//   padding: 100px;
// }
//
// .active:after {
//   content:">";
//   color: red;
//   font-size: 30px;
// }

.pic-nav {
  position: absolute;
  top: 50%;
  opacity: 0.75;
}

.nav-left {
  left: 25px;
  right: auto;
}

.nav-right {
  left: auto;
  right: 25px;
}

.arrow {
  height: 100px;
  width: 85px;
}

.arrow:hover {
  opacity: 0.5;
}

// CSS for the ligthboxes -----

/* General CSS Setup */
// body{
//   background-color: lightblue;
//   font-family: "Ubuntu-Italic", "Lucida Sans", helvetica, sans;
// }

// /* container */
// .container {
//   padding: 5% 5%;
// }

/* CSS talk bubble */
.lightbox {
	margin: 40px;
  display: inline-block;
  position: relative;
	// width: 200px;
	// height: auto;
  width: 80vw;
	height: 60vh;
	background-color: #333333;
  opacity: 0.6;
}

.border{
  border: 8px solid #666;
}

.lightbox--is-round{
  border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.lightbox--is-left {
  // visibility: hidden;
  display: none;
}

.lightbox--is-left::before {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  top: -20px;
	right: auto;
	bottom: auto;
	border: 22px solid;
	border-color: transparent transparent transparent #333333;
  z-index: -1;
  // visibility: hidden;
}

.lightbox--is-visible{
  // visibility: visible;
  display: block;
}

.lightbox__meet {

}

/* talk bubble contents */
.talktext{
  padding: 1em;
	text-align: left;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

// OUR STORY ANIMATIONS -------

.about-us__icon--is-animation {
    position: relative;
    -webkit-animation-duration: 1s; /* Chrome, Safari, Opera */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.about-us__icon--is-animation {
  -webkit-animation-name: animation_left_up; /* Chrome, Safari, Opera */
  animation-name: animation_left_up;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes animation_left_up {
    0%   {left:0px; top:0px;}
    100% {left:-10vw; top:-40vh;}
}

/* Standard syntax */
@keyframes animation_left_up {
    0%   {left:-0px; top:0px;}
    100% {left:-10vw; top:-40vh;}
}
